---
import HeaderLink from "./HeaderLink.astro";
import { GITHUB_LINK, LINKED_IN_LINK, MAIL_LINK, SITE_TITLE, XING_LINK } from "../consts";
import { Icons } from "./Icons";
import ThemeToggle from "./ThemeToggle";

interface Props {
  mainPage?: boolean;
}

const { mainPage: mainPage } = Astro.props;
---

<header class="flex w-screen gap-3">
  <nav
    class:list={[
      mainPage ? "justify-end" : "justify-between",
      "flex w-full m-0 p-5 bg-background/75 fixed border-b border-b-border backdrop-blur-2xl transition-all z-10",
    ]}>
    <div class="flex items-center gap-3">
      {
        !mainPage && (
          <>
            <a onclick="window.history.back()" class="cursor-pointer">
              <Icons.back />
            </a>
            <a href="/" class="xs:text-md sm:text-xl leading-4 md:text-2xl font-bold no-underline">
              {SITE_TITLE}
            </a>
          </>
        )
      }
    </div>
    <div id="nav-buttons" class="flex justify-end items-center gap-3">
      {
        !mainPage && (
          <>
            <HeaderLink href={XING_LINK} target="_blank" aria-label="My XING Profile">
              <Icons.xing />
            </HeaderLink>
            <HeaderLink href={LINKED_IN_LINK} target="_blank" aria-label="My LinkedIn Profile">
              <Icons.linkedIn />
            </HeaderLink>
            <HeaderLink href={GITHUB_LINK} target="_blank" aria-label="My GitHub Profile">
              <Icons.github />
            </HeaderLink>
            <HeaderLink href={MAIL_LINK} aria-label="My E-Mail Profile">
              <Icons.mail />
            </HeaderLink>
          </>
        )
      }
      <ThemeToggle client:load />
    </div>
  </nav>
</header>
