---
import HeaderLink from "./HeaderLink.astro";
import { GITHUB_LINK, LINKED_IN_LINK, MAIL_LINK, SITE_TITLE, XING_LINK } from "../consts";
import { Icons } from "./Icons";
import ThemeToggle from "./ThemeToggle";

interface Props {
  mainPage?: boolean;
}

const { mainPage: mainPage } = Astro.props;
---

<header class="flex gap-3 w-screen">
  <nav
    class:list={[
      { "md:grid": !mainPage },
      "grid-cols-2 w-full m-0 p-5 bg-background/75 fixed border-b border-b-border backdrop-blur-2xl transition-all",
    ]}
  >
    <div class="flex gap-3 items-center">
      {
        !mainPage && (
          <>
            <a onclick="window.history.back()" class="cursor-pointer">
              <Icons.back />
            </a>
            <a
              href="/personal-homepage/"
              class="font-bold text-2xl no-underline"
            >
              {SITE_TITLE}
            </a>
          </>
        )
      }
    </div>
    <div
      id="nav-buttons"
      class:list={[
        "flex",
        { "justify-end": !mainPage },
        "items-center",
        "gap-3",
      ]}
    >
      {
        !mainPage && (
          <>
            <HeaderLink
              href={XING_LINK}
              target="_blank"
            >
              <Icons.xing />
            </HeaderLink>
            <HeaderLink
              href={LINKED_IN_LINK}
              target="_blank"
            >
              <Icons.linkedIn />
            </HeaderLink>
            <HeaderLink href={GITHUB_LINK} target="_blank">
              <Icons.github />
            </HeaderLink>
            <HeaderLink href={MAIL_LINK}>
              <Icons.mail />
            </HeaderLink>
          </>
        )
      }
      <ThemeToggle client:load />
    </div>
  </nav>
</header>
