---
import type { CollectionEntry } from "astro:content";
import BaseLayout from "./BaseLayout.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import { Icons } from "../components/Icons";
import StringTagList from "../components/StringTagList.astro";
import ImageSlide from "../components/ImageSlide";

type Props = CollectionEntry<"portfolio">["data"];

const { index, name, gitHubLink, technologies, imageSlide } = Astro.props;
---

<BaseLayout title={SITE_TITLE + " - " + name} description={SITE_DESCRIPTION}>
  <main>
    <article class="flex flex-col gap-5">
      <div class="flex items-center gap-3">
        <h1 class="text-2xl font-bold">{index}. {name}</h1>
        <a href={gitHubLink} aria-label="Link to Repo"><Icons.github /></a>
      </div>
      <div class="flex items-center gap-2">
        <p>Technologies:</p>
        {technologies && <StringTagList technologies={technologies} />}
      </div>
      <div>
        <h2 class="text-xl font-bold my-2">Preview</h2>
        {imageSlide && <ImageSlide imageUrls={imageSlide} client:load />}
      </div>
      <div class="flex flex-col gap-2">
        <slot />
      </div>
    </article>
  </main>
</BaseLayout>
